.validator-error {
  padding: 8px 0px 0px 16px;
  color: #f04141;
  font-size: 14px;
}

ion-footer {
  height: auto;
}

.footer-buttons {
  padding: 0px 40px 0px 40px;
}

.button-1 {
  float: left;
}

.button-2 {
  float: right;
}
