<ion-header>
  <ion-toolbar>
    <ion-title>Editar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <form [formGroup]="formName">
    <ion-list>
      <ion-item>
        <ion-label position="floating">Nombre:</ion-label>
        <ion-input autofocus type="text" formControlName="name"></ion-input>
      </ion-item>
      <div *ngIf="name.invalid && (name.touched || name.dirty)">
        <div *ngIf="name.errors.required" class="validator-error">
          *El campo es requerido
        </div>
        <div *ngIf="name.errors.minlength" class="validator-error">
          *Minimo 3 caracteres
        </div>
        <div *ngIf="name.errors.maxlength" class="validator-error">
          *Maximo 30 caracteres
        </div>
      </div>
    </ion-list>
  </form>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <div class="footer-buttons">
      <ion-button (click)="onCancel()" class="button-1" type="submit" expand="block" fill="clear">Cancelar</ion-button>
      <ion-button (click)="onSubmit()" class="button-2" type="submit" expand="block" fill="clear" [disabled]="!formName.valid">Ok</ion-button>
    </div>
  </ion-toolbar>
</ion-footer>
