<ion-app>
  <ion-split-pane>
    <ion-menu side="start" type="overlay" menu="first" >
      <ion-header>
        <ion-toolbar>
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle autoHide="false" *ngFor="let item of appMenu">
            <ion-item [routerLink]="[item.url]">
              <ion-icon [name]="item.icon"></ion-icon>
              <ion-label>{{item.title}}</ion-label>
            </ion-item>
          </ion-menu-toggle>

        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
