<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{animal.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <img *ngIf="animal.image; else defaultImage" class="image_profile" src="{{urlGetImage + animal.image}}" alt="{{animal.image}}">
  <ng-template #defaultImage>
    <img class="image_profile" src="../assets/img/default_pet_icon.png" alt="default_pet_icon">
  </ng-template>
  <span>{{animal.name}}</span>


</ion-content>
