<ion-header>
  <ion-toolbar>
    <ion-title>
      {{user.familyGroup.token}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <h3 class="empty"></h3>
  <ion-list *ngFor="let animal of animals" (click)="navigate_animal_profile(animal)">
    <ion-item>
      <ion-avatar slot="start">
        <img src="../assets/img/default_pet_icon.png" alt="default pet icon">
      </ion-avatar>
      <p>{{animal.name}}</p>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="danger" (click)="open_animal_create()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
