<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Mascotas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content" padding>
  <h3 class="empty"></h3>
  <ion-list>
    <ion-item *ngFor="let animal of animals" (click)="navigate_animal_profile(animal)">
      <ion-avatar slot="start">
        <img *ngIf="animal.image; else defaultImage " src="{{urlGetImage + animal.image}}" alt="default pet icon">
        <ng-template #defaultImage>
          <img src="../../assets/img/default_pet_icon.png" alt="default icon">
        </ng-template>
      </ion-avatar>
      <p>{{animal.name}}</p>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="danger" (click)="open_animal_create()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
